.generator {
  /* Keeps div in the center of the page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  height: 70%;
  width: 80%;
  border: 1px solid invisible;
  display: flex;
  justify-content: space-between;
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  border-radius: 10px;
  background-color: #f0eef2;
}

.generator form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  margin-bottom: 3px;
  font-size: 16px;
  width: 18%;
  display: flex;
  justify-content: flex-end;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  resize: none;
  width: 80%;
  background-color: #f0eef2;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  resize: none;
  width: 65%;
  background-color: #f0eef2;
}

input:focus {
  outline: none;
  border: 1px solid #ff4b00;
}

textarea:focus {
  outline: none;
  border: 1px solid #ff4b00;
}

.submit-button {
  margin-left: auto;
}

.login-container {
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.login {
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  border-radius: 10px;
  background-color: #f0eef2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid invisible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border: 1px solid invisible;
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  border-radius: 10px;
  background-color: #f0eef2;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader img {
  width: 25%;
  height: 25%;
  animation-name: rotate;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

.title-container p {
  font-size: .75rem;
  font-style: italic;
}

.generator h1 {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px;
  width: 30%;
  background-repeat: repeat;
  border-radius: .25rem;
  background-color: #ff4b00;
  cursor: pointer;
  color: #fff;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  border: 1px solid transparent;
  font-weight: 600;
}

.button:hover {
  background-color: #f0eef2;
  color: #ff4b00;
  border: 1px solid #ff4b00;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.outreach-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  font-size: .85rem;
}

.instructions {
  font-style: italic;
}

.login h2 {
  height: 30%;
}

span {
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  margin-top: 2%;
  margin-left: 2%;
}

.login-header {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -20%);
}