/**

Home Page

**/

.generator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  height: 70%;
  width: 80%;
  border: 1px solid invisible;
  display: flex;
  justify-content: space-between;
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  border-radius: 10px;
  background-color: white;
}

.generator form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  margin-bottom: 3px;
  font-size: 16px;
  width: 18%;
  display: flex;
  justify-content: flex-end;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  resize: none;
  width: 80%;
  background-color: #f0eef2;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  resize: none;
  width: 65%;
  background-color: #f0eef2;
}

input:focus {
  outline: none;
  border: 1px solid #ff4b00;
}

textarea:focus {
  outline: none;
  border: 1px solid #ff4b00;
}

.submit-button {
  margin-left: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
}

.title-container p {
  font-size: .75rem;
  font-style: italic;
}

.generator h1 {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  height: 70%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  background-color: white;
}

.loader video {
  width: 75%;
  height: 75%;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.button {
  padding: 10px;
  width: 30%;
  background-repeat: repeat;
  border-radius: .25rem;
  background-color: #ff4b00;
  cursor: pointer;
  color: #fff;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  border: 1px solid transparent;
  font-weight: 600;
}

.button:hover {
  background-color: white;
  color: #ff4b00;
  border: 1px solid #ff4b00;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  margin-top: 2%;
  margin-left: 2%;
}

/**

Login Page

**/

.login-header {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -25%);
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #f0eef2;
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 35%;
  width: 30%;
}

.login-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 45%;
}

.login-heading h2 {
  width: 100%;
}

.login-heading p {
  width: 100%;
  font-size: .8rem;
  margin-top: 3%;
}

.login-form {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-form input {
  width: 100%;
  margin-bottom: 5%;
}

.login-form input:focus {
  outline: none;
  border: 1px solid #ff4b00;
}

/**

Confirmation Page

**/

.confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0rem 0.875rem 2.125rem 0rem rgba(0,0,0,0.329);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 80%;
}

video {
  width: 75%;
  height: 75%;
}

span {
  color: #ff4b00;
  font-size: 1.1rem;
}